.chroma {
  background-color: rgba(#d9e8ff, 0.2);
}
.chroma .err {
}
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
  width: auto;
  overflow: auto;
  display: block;
}
.chroma .hl {
  display: block;
  width: 100%;
  background-color: #dfdfdf;
}
.chroma .lnt {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #7f7f7f;
}
.chroma .ln {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #7f7f7f;
}
.chroma .k {
  color: #aa22ff;
  font-weight: bold;
}
.chroma .kc {
  color: #aa22ff;
  font-weight: bold;
}
.chroma .kd {
  color: #aa22ff;
  font-weight: bold;
}
.chroma .kn {
  color: #aa22ff;
  font-weight: bold;
}
.chroma .kp {
  color: #aa22ff;
}
.chroma .kr {
  color: #aa22ff;
  font-weight: bold;
}
.chroma .kt {
  color: #00bb00;
  font-weight: bold;
}
.chroma .na {
  color: #bb4444;
}
.chroma .nb {
  color: #aa22ff;
}
.chroma .nc {
  color: #0000ff;
}
.chroma .no {
  color: #880000;
}
.chroma .nd {
  color: #aa22ff;
}
.chroma .ni {
  color: #999999;
  font-weight: bold;
}
.chroma .ne {
  color: #d2413a;
  font-weight: bold;
}
.chroma .nf {
  color: #00a000;
}
.chroma .nl {
  color: #a0a000;
}
.chroma .nn {
  color: #0000ff;
  font-weight: bold;
}
.chroma .nt {
  color: #008000;
  font-weight: bold;
}
.chroma .nv {
  color: #b8860b;
}
.chroma .s {
  color: #bb4444;
}
.chroma .sa {
  color: #bb4444;
}
.chroma .sb {
  color: #bb4444;
}
.chroma .sc {
  color: #bb4444;
}
.chroma .dl {
  color: #bb4444;
}
.chroma .sd {
  color: #bb4444;
  font-style: italic;
}
.chroma .s2 {
  color: #bb4444;
}
.chroma .se {
  color: #bb6622;
  font-weight: bold;
}
.chroma .sh {
  color: #bb4444;
}
.chroma .si {
  color: #bb6688;
  font-weight: bold;
}
.chroma .sx {
  color: #008000;
}
.chroma .sr {
  color: #bb6688;
}
.chroma .s1 {
  color: #bb4444;
}
.chroma .ss {
  color: #b8860b;
}
.chroma .m {
  color: #666666;
}
.chroma .mb {
  color: #666666;
}
.chroma .mf {
  color: #666666;
}
.chroma .mh {
  color: #666666;
}
.chroma .mi {
  color: #666666;
}
.chroma .il {
  color: #666666;
}
.chroma .mo {
  color: #666666;
}
.chroma .o {
  color: #666666;
}
.chroma .ow {
  color: #aa22ff;
  font-weight: bold;
}
.chroma .c {
  color: #008800;
  font-style: italic;
}
.chroma .ch {
  color: #008800;
  font-style: italic;
}
.chroma .cm {
  color: #008800;
  font-style: italic;
}
.chroma .c1 {
  color: #008800;
  font-style: italic;
}
.chroma .cs {
  color: #008800;
  font-weight: bold;
}
.chroma .cp {
  color: #008800;
}
.chroma .cpf {
  color: #008800;
}
.chroma .gd {
  color: #a00000;
}
.chroma .ge {
  font-style: italic;
}
.chroma .gr {
  color: #ff0000;
}
.chroma .gh {
  color: #000080;
  font-weight: bold;
}
.chroma .gi {
  color: #00a000;
}
.chroma .go {
  color: #888888;
}
.chroma .gp {
  color: #000080;
  font-weight: bold;
}
.chroma .gs {
  font-weight: bold;
}
.chroma .gu {
  color: #800080;
  font-weight: bold;
}
.chroma .gt {
  color: #0044dd;
}
.chroma .gl {
  text-decoration: underline;
}
.chroma .w {
  color: #bbbbbb;
}
